*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* text-decoration:none; */
}
body{
    width: 100%;
    height: 100%;
    /* position: relative; */
    background-color: #EDEDED;
    font-family: 'Poppins', sans-serif;

}

            /* ++++++++++++++++++++++++++++NAV+++++++++++++++++++++++++++ */
nav{
    width: 100%;
    height: 14vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0rem 4rem; */
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.12rem;
}
nav .nav__icons{
    display: none;
    /* display: flex; */
    align-items: center;
    font-size: 1.7rem;
    font-weight:900;
    cursor: pointer;
}
nav .navImage{
    display: flex;
    align-items: center;
}
nav .navImage h2{
    letter-spacing: normal;
    margin-left: 1rem;
    color: #583f8c;
    cursor: pointer;

}
nav img{
    width: 51px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}
nav ul{
    display: flex;
    transition: 1s;
    /* width: 50%; */
    margin-right: 7%;
}
nav ul li{
    cursor: pointer;
    padding: 0 2vw;
    transition: 0.2s;
}
nav ul li:hover{
    color: #7843E9;
}


             /* ++++++++++++++++++++++++++++ HERO__SECTION +++++++++++++++++++++++++++ */


.hero__section{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 7rem 0;
}
.hero__section .hero__container{
    text-align: center;
    /* margin-top: 7rem; */
    /* width: 50%; */
}
.hero__section .hero__container h1{
       font-size: 3.5rem;
       font-weight: 800;
}
.hero__section .hero__container p{
    padding: 2rem  0;
     width: 70%; 
    margin: auto;
    font-size: 1.5rem;
    line-height: 2.3rem;
}
.hero__section .hero__container button{
    font-size: 1.2rem;
    background-color: #7843E9;
    color: #fff;
     padding: 1.4rem 3.8rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: 4px;
    transition: 0.3s; 
}

.hero__section .hero__container button a{
    color: #fff;
    font-weight: 600;
}
.hero__section .hero__container button:hover{
    /* margin-top: 1.2rem; */
}

 
             /* ++++++++++++++++++++++++++++ ABOUT__SECTION +++++++++++++++++++++++++++ */

.about {
    background: #fafafa;
}
.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.heading-sec__mb-med {
    margin-bottom: 9rem;
}
.heading-sec__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
}
.heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #7843e9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.heading-sec__sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}
.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}
.about__content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}
.about__content-details-para {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}
.about__content-details-para:last-child {
    margin-bottom: 4rem;
}
.btn--theme {
    background: #7843e9;
    color: #fff;
}
.about__content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

            /* ++++++++++++++++++++++++++++ SKILL__SECTION +++++++++++++++++++++++++++ */
.skills {
    display: flex;
    flex-wrap: wrap;
}
.skills__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}
.btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}
.btn {
    background: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
}


           /* ++++++++++++++++++++++++++++ CONTACT__SECTION +++++++++++++++++++++++++++ */


.contact {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
}
.sec-pad {
    padding: 12rem 0;
}
.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.heading-sec__mb-med {
    margin-bottom: 9rem;
}
.heading-sec__main--lt {
    color: #111;
    font-weight: 800;
}
.heading-sec__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
}
.heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #7843e9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.heading-sec__main--lt::after {
    content: '';
    background: #7843e9!important;
}

.heading-sec__sub--lt {
    color: #333;
}
.heading-sec__sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}
.contact__form-container {
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    background: #fff;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}
.contact__form-field {
    margin-bottom: 4rem;
}
.contact__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}
.contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}
.contact__btn {
    width: 30%;
    padding: 1.2rem 0rem;
    font-size: 1.4rem;
    cursor: pointer;
}


             /* ++++++++++++++++++++++++++++ FOOTER__SECTION +++++++++++++++++++++++++++ */

.main-footer {
    background: #000;
    color: #fff;
}
.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}
.main-footer__row-1 {
    order: 2;
}
.heading-sm {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-footer__social-cont {
    margin-top: 2rem;
    /* background-color: white; */
    color: white;
}
.main-footer__social-cont i{
     font-size: 2rem;
     margin: 0.5rem 1rem;
}
.main-footer__icon {
    margin-right: 1rem;
    width: 2.5rem;
}
a {
    text-decoration: none;
    color: inherit;
}
.main-footer__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem;
}
.heading-sm {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-footer__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7;
}
.main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    /* text-align: left; */
    text-align: center;
}



            /* ++++++++++++++++++++++++++++ MEDIA QUERIES 700PX +++++++++++++++++++++++++++ */


 @media screen and (max-width: 700px) {
    nav .navImage h2{
        display: none;
    }
  }


           /* ++++++++++++++++++++++++++++ MEDIA QUERIES PHONE 600PX +++++++++++++++++++++++++++ */




  @media screen and (max-width: 600px) {
    nav .navImage h2{
        display: none;
    }
    nav ul{
        /* display: none; */
    }

  }